/*neon/gloving: box-shadow: 0px 0px 10px 10px #00c2cb*/

html {
    font-size: 16px;
    color: white;
}

header > h1 {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

body {
    background-image: url("Images/bg.jpg");
    background-repeat: repeat;
    background-size: auto;
    margin: 0;
}

figcaption {
    text-align: center;
}

.system {
    display: flex;
    width: 100%;
    height: 30rem;
    align-items: center;
}

/*
.sun-light {
    position: absolute;
    left: -24.6rem;
    width: 105%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
    pointer-events: none;
    border-collapse: collapse;
}
*/

#sun {
    height: 400px;
    /*background: radial-gradient(circle, rgba(255, 255, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);*/
    /*box-shadow: 0 0 150px rgba(255, 255, 0, 0.8);*/
    margin: 0;
}

.planets {
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

div > img {
    display: block !important;
    max-width: 100% !important;
}

#mercury {
    width: 2.75rem;
    height: 2.75rem;
}

#venus {
    width: 5.218rem;
    height: 5.218rem;
}

#earth {
    width: 6.5rem;
    height: 6.3;
}

#mars {
    width: 4.39rem;
    height: 4.62rem;
}

#saturn {
    width: 8.1rem;
    height: 8.1rem;
}

#uranus {
    width: 4.88rem;
    height: 4.88rem;
}

#neptune {
    width: 5.063rem;
    height: 5.063rem;
}

.description {
    visibility: hidden;
    position: absolute;
    width: 20rem;
    background-color: rgba(127,127,127, 0.7);
    border-radius: 1.5rem;
    left: -10rem;
    color: white;
    text-align: left;
    padding: 0.5rem;
    z-index: 10;
    opacity: 0;
    transition: opacity 2s;    
}


.planet-container {
    position: relative;
    display: inline;
}

.planet-container:hover .description {
    visibility: visible;
    opacity: 1;
}

/* Hover effects */
#mercury:hover {
    display: block;
    border-radius: 100%;
    box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.8);
}

#venus:hover {
    display: block;
    border-radius: 100%;
    box-shadow: 0 0 50px rgba(249, 177, 7, 0.8);
}

#earth:hover {
    display: block;
    border-radius: 50px;
    box-shadow: 0px 0px 50px 10px rgba(9, 199, 161, 0.8); 
}

#mars:hover {
    display: block;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 10px rgba(188, 149, 43, 0.8);
}

#jupiter:hover {
    display: block;
    border-radius: 100%;
    box-shadow: 0 0 50px 10px rgba(168,168,134, 0.8);
}

#saturn:hover {
    display: block;
    /*
    border-radius: 50%;
    box-shadow: 0 0 50px 10px rgba(187,162,105,0.8);
    */
    background: radial-gradient(circle, rgba(187, 162, 105, 0.5) 20%, rgba(187, 162, 105, 0) 90%);
}

#uranus:hover {
    display: block;
    border-radius: 100%;
    box-shadow: 0 0 50px 10px rgba(13, 191, 206, 0.8);
}

#neptune:hover {
    display: block;
    border-radius: 100%;
    box-shadow: 0 0 50px 20px rgba(87, 12, 195, 0.8);
}